:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --background-dark-color: #2f303a;
  --background-grey-color: #f5f4fa;
  --background-light-color: #e5e5e5;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
  font-size: 14px;
}

button {
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.section {
  padding: 94px 0;
}

.section-title {
  margin-bottom: 50px;
  margin-top: 0;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

/* Header */
.page-header {
  border-bottom: 1px solid #ececec;
}

.main-nav {
  display: flex;
  align-items: center;
}

.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;

  color: var(--primary-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo-accent {
  color: var(--accent-color);
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav-link {
  position: relative;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms var(--timing-function);
}

.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
}

.site-nav-link.current {
  color: var(--accent-color);
}

.site-nav-link.current::after {
  content: '';
  position: absolute;
  bottom: -1px;

  display: block;
  width: 100%;
  height: 4px;

  background: var(--accent-color);
  border-radius: 2px;
}

.main-contact {
  margin-left: auto;
  display: flex;
}

.main-contact .item + .item {
  margin-left: 50px;
}

.main-contact-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms var(--timing-function);
}

.main-contact-icon {
  margin-right: 10px;
  fill: currentColor;
}

.main-contact-link:hover,
.main-contact-link:focus {
  color: var(--accent-color);
}

/* Hero section */

.hero {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding: 200px 0;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/office.jpg);
  background-position-x: center;
  background-color: #c4c4c4;

  text-align: center;
}

.hero > .container {
  width: 696px;
  padding-left: 0;
  padding-right: 0;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

.hero-button {
  padding: 10px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;

  color: var(--white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;

  cursor: pointer;

  transition: background-color 250ms var(--timing-function);
}

.hero-button:hover,
.hero-button:focus {
  color: var(--white-color);
  background-color: #188ce8;
}

/* Секция "качества команды" */

.quality-list {
  display: flex;
}

.quality-item {
  width: 270px;

  margin-left: 30px;
}

.quality-item:first-child {
  margin-left: 0;
}

.quality-thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;

  background-color: var(--background-grey-color);
}

.quality-list-title {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.qulity-list-text {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--secondary-text-color);

  line-height: 1.71;
}

/* Секция "чем занимаемся" */

.working-section {
  padding-top: 0;
  padding-bottom: 94px;
}

.working-list {
  display: flex;
}

.working-item {
  width: 370px;
  margin-left: 30px;
}

.working-item:first-child {
  margin-left: 0;
}

.working-card {
  position: relative;
}

.card-caption-box {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(47, 48, 58, 0.8);
}

.card-caption {
  margin: 0;

  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  color: var(--white-color);
}

/* Секция Наша команда */

.team-section {
  background-color: var(--background-grey-color);
}

.team-list {
  display: flex;
}

.team-list-item {
  background-color: var(--white-color);

  margin-left: 30px;
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list-item:first-child {
  margin-left: 0;
}

.team-signature {
  padding: 30px 32px;
}

.team-list-name {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-list-position {
  margin-top: 0;
  margin-bottom: 16px;

  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.social-networks {
  display: flex;
  justify-content: center;
  margin: 0;
}

.social-item + .social-item {
  margin-left: 10px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  border-radius: 50%;
  color: #afb1b8;
  background-color: var(--white-color);

  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function);
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social-link:hover,
.social-link:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

/* Постоянные клиеты */

.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  margin-top: 0;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: center;
}

.clients-item + .clients-item {
  margin-left: 30px;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;

  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  background-color: var(--white-color);
  outline: transparent;

  transition: color 250ms var(--timing-function), border 250ms var(--timing-function);
}

.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.clients-icon {
  fill: currentColor;
}

/* Футер */

.footer {
  padding: 60px 0;

  background-color: var(--background-dark-color);
}

.footer-flex {
  display: flex;
  align-items: baseline;
}

.footer .logo {
  display: block;
  margin-bottom: 20px;
  padding-bottom: 0;
  padding-top: 0;

  color: var(--white-color);
}

.address-item {
  margin-bottom: 9px;
}

.address-item:last-child {
  margin-bottom: 0;
}

.address-link {
  color: var(--footer-contacts-color);

  line-height: 1.72;
  text-decoration: none;
  font-style: normal;

  transition: color 250ms var(--timing-function);
}

.address-link[target='_blank'] {
  color: var(--white-color);
}

.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}

.join-box {
  /* display: flex; */
  margin-left: 70px;
}

.join-title,
.subscribe-title {
  line-height: 1.14;
  color: var(--white-color);
  text-transform: uppercase;

  display: block;
  margin-top: 0;
  margin-bottom: 20px;
}

.footer-social-networks {
  display: flex;
  justify-content: center;
  margin: 0;
}

.footer-social-item + .footer-social-item {
  margin-left: 10px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  border-radius: 50%;
  color: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms var(--timing-function);
}

.footer-social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}

.subscribe-box {
  margin-left: 93px;
}

.form-box {
  display: flex;
}

.footer-form {
  width: 358px;
}

.subscribe-input {
  font-size: 16px;
  color: var(--white-color);

  width: 100%;
  margin: 0;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
}

.subscribe-input::placeholder {
  font-size: 16px;
  line-height: 1.25;

  color: rgba(255, 255, 255, 0.6);
}

.subscribe-button {
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
  border: none;
  margin-left: 12px;
  padding: 10px 29px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white-color);
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  cursor: pointer;

  transition: background-color 250ms var(--timing-function);
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #188ce8;
}

.subscribe-icon {
  margin-left: 10px;
  fill: currentColor;
}

/* Страница Портфолио */

/* Список проектов */

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item {
  margin-left: 8px;
}
.filter-item:first-child {
  margin-left: 0;
}

.filter .button {
  background-color: var(--background-grey-color);
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  border: 0;

  padding: 6px 22px;
  border-radius: 4px;

  cursor: pointer;

  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
}

.filter .button:hover,
.filter .button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button.current {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.projects {
  display: flex;
  flex-wrap: wrap;
}

.projects-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.projects-item:nth-child(3n) {
  margin-right: 0;
}

.projects-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.projects-item .link {
  display: block;

  transition: box-shadow 250ms var(--timing-function);
}

.projects-item .link:hover,
.projects-item .link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-thumb {
  position: relative;

  width: 100%;

  overflow: hidden;
}

.projects-overlay {
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(101%);
  transition: transform 250ms var(--timing-function);
  opacity: 1;
}

.projects-item > .link:hover .projects-overlay,
.projects-item > .link:focus .projects-overlay {
  transform: translateY(0%);
}

.pre-text {
  margin: 0;
  padding: 63px 24px;

  /* width: 322px; */
  /* height: 168px; */
  font-size: 18px;
  line-height: 1.56;
  color: var(--white-color);
}

.projects-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-top: 0px;
  margin-bottom: 4px;
}

.card-description {
  border: 1px solid #eeeeee;

  padding: 20px 24px;
}

.projects-type {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.88;

  margin-top: 0;
  margin-bottom: 0;
}

.projects .link {
  text-decoration: none;
}

/* <!-- ----Модальное окно---- --> */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%, -50%);

  width: 528px;
  height: 581px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: 250ms var(--timing-function);
}

.modal-form {
  width: 100%;
  outline: 1px solid tomato;
  padding: 40px;
}

.modal-title {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  margin-bottom: 30px;
}

.form-field {
  position: relative;
  outline: 1px solid blueviolet;
  display: flex;
  margin-bottom: 28px;
}

.form-label {
  position: absolute;
  top: -18px;
  left: 0;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.modal-svg {
  position: absolute;
  top: 50%;
  left: 14px;

  transform: translateY(-50%);
}

.modal-input {
  width: 100%;
  padding: 12px;
  padding-left: 42px;
  font-size: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-comment {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  cursor: pointer;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: fill 250ms var(--timing-function);
}

.close-button:hover,
.close-button:focus {
  fill: var(--accent-color);
}
